{% extends "_layouts/_master.twig" %}

{% block content %}
<div class="jumbotron" style="min-height: 450px; background: url('http://cdnl.complex.com/assets/CHANNEL_IMAGES/ART/2013/03/content/1363726628_24.gif') transparent no-repeat center center; background-size: 100%;">
  <h1 style="color: white;">Sweet, you broke it.</h1>
  <p><a href="/projects" class="btn btn-primary btn-lg" role="button">Go to projects</a></p>
</div>
{% endblock %}
